<!--
Chris Vazquez
04-22-2016
Simple form to create a user for testing. Passes name and password to SpinRequest.php where CreateUser function lies.
-->

<form action="SpinRequest.php" method="post"">
 <p>Create User</p>
 <p>Your Name: <input type="text" name="Name" /></p>
 <p>Password: <input type="text" name="Password" /></p>
 <input type="hidden" name="FromPage" value="CreateUser" />
 <p><input type="submit" /></p>
</form>